.main-content{
    background: rgb(49, 49, 49);
    width: 100%;
    height: 100vh;
    display: grid;
    grid-column: auto;
    grid-template-rows: repeat(auto-fill, minmax(33%, 1fr));
    place-content: center;
    place-items: center ;
}

.main-content .content-img img{
    width: 80%;
}
.main-content .img-group {
    width: clamp(7rem, 100vw, 20rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.content-img{
    display: flex;
    justify-content: space-around;
}
.img-group:hover {
    background: rgb(135, 135, 135);

}
