.main-content{
    background: rgb(49, 49, 49);
    width: 100%;
    height: 100vh;
    display: grid;
    grid-column: auto;
    grid-template-rows: repeat(auto-fill, minmax(33%, 1fr));
}

.main-content .content-img img{
    width: 100%;
    height: 100%;
}
.main-content .content-img {
    width: clamp(7rem, 50vw, 25rem);
}
#start{
    width: clamp(5rem, 20vw, 40rem);
    height: clamp(1rem, 5vw, 5rem);
    border-radius: 15px;
    border: none;
    color: white;
    font-size: clamp(1rem, 2vw, 10rem);
    background: linear-gradient(to left, rgb(168, 46, 255), rgb(0, 157, 255), rgb(74, 195, 255));
    align-self: flex-start;
}